:root {
    --color1: #CAD2C5;
    --color2: #84A98C;
    --color3: #52796F;
    --color4: #354F52;
    --color5: #2F3E46;
}

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.6rem;
    margin : 0 auto;
    color: var(--color5);
    width: 150rem;
}

header > a > img{
    position: absolute;
    top: 2.5rem;
    width : 25rem;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin: 0;
    padding: 4rem;
}

footer {
    text-align: center;
    padding: 2rem;
}

header, footer {
    background-color: var(--color2);
}

table, th, td {
    border : .1rem solid var(--color5);
    border-collapse: collapse;
    padding: 0.8rem;
}

table {
    margin: 2rem auto;
}

form {
    margin: 0;
    padding: 2rem;
}

main{
    background-color: var(--color1);
    padding: 2rem;
}

img[alt="photo de profil"] {
    width: 30%;
    border-radius: 8%;
    margin: auto 0;
}

input, button {
    padding: 0.5rem;
    margin : 0.4rem;
}

fieldset {
    display : flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    border-radius: 1rem;
}

label, input {
    flex-basis: 38%;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin : 0 auto;
    width : 20rem;
}

button[type="submit"] {
    margin-top: 3rem;
}


::placeholder {
    font-style: italic;
}

.filDAriane {
    padding: 0 0.5rem;
}

.filDAriane ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 2rem;
}

.filDAriane li:not(:last-child)::after {
    display: inline-block;
    padding: 0 1rem;
    content: "→";
}

button:hover {
    background-color: var(--color2);
    cursor:pointer;
    color: var(--color1);
}

#infos{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#photo {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#btnChangerPhoto{
    width : 13rem;
}

.detailProfil {
    border : none;
    border-radius: .5rem;

}

label {
    padding-top: .5rem;
}
